main{
    font-family: 'Trebuchet MS';
    text-align: center;
}

p{
    color: white;
    text-align: center;
}

h1{
    color:indianred;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
}

h3{
    color: indianred;
    text-align: center;
}

.about{
    background: lightslategrey;
    padding: 8px;
    color: goldenrod;
}

img{
    max-height: 180px;
    height: 180px;
    width: 200px;
    align-self: center;
    border-radius: 25px;
}

.column{
    float: left;
    margin-right: 16px;
    margin: 10px;
    width: 22%;
    
}

.card{
    box-shadow: 0px 4px 8px 0 #b3b3b3f5;
    padding: 0 16px 0 16px;
    border-radius: 25px;
    background-color: lightslategrey;
}
