.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: "center";
}

#prof-display {
    display: block;
    width: 150px;
    margin: 10px auto;
    border-radius: 20%;
}

#uname-style {
    font-size: 20px;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
    color: silver;
}

#bio {
    border-radius: 10%;
}